<h1>Home Page Stuff</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<p> This is just a test. Gotta add some stuff here eventually...but until then,
	please enjoy <a href="help"/> Click here </a> !
